html{

}
body{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 150%;
    font-family: monospace;
    letter-spacing: 0.5px;

}

#qoutes_body{
    font-style:italic;
font-weight: lighter;
}

a{
    color: white;    
}


nav{
    text-align: left;
}