html {
   background-color: rgb(46, 46, 46);
}

body { 
  color: whitesmoke;
  letter-spacing: 0.8px;
  font-weight: 500;
  font-size: 20px ;
  font-family: 'Garamond', 'Georgia', serif
}

/* Styling the logo */
#logo {
  text-decoration-line: none;
  color: whitesmoke;
  letter-spacing: 1px
}

#intro {
  text-align: center;
}
/* CSS for index*/
/* Centering the navigation bar and intro text */ 

#head_nav {
  max-height:45px ;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 15px;
  }

/* Styling buttons in the navigation bar */
#head_nav > a {
  
  margin: 5px 0 5px 0;
  text-decoration: none;
  color: whitesmoke;
  letter-spacing: 1px;
  font-weight: 700;
  transition: height 200ms , background-color 500ms;
  
}

#head_nav > a:hover{  
  cursor: pointer;                 /* hover effect for buttons */
  color: rgb(243, 165, 235);     /* hover is a pseudoclass and applicable on all elements */
}

p {
  overflow-wrap: break-word; /* modern name */
}

#blog-container {
  margin: 30px auto 0 auto;
  max-width: 650px;
  display: flex;
  flex-direction: column;
}

.blog {
  background-color: rgb(60, 60, 60);
  border-left: 4px solid rgb(243, 165, 235);
  padding: 20px;
  border-radius: 4px;
}

.blog:hover {
  background-color: rgb(70, 70, 70);
}

.blog h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 24px;
  color: rgb(243, 165, 235);
}

.blog p {
  margin: 0 0 1.6rem 0;
  line-height: 1.6;
  word-wrap: break-word;
}

.blog p:last-child {
  margin-bottom: 0;
}

.full-blog{
  background-color: rgb(60, 60, 60);
  border-left: 4px solid rgb(243, 165, 235);
  padding: 20px;
  border-radius: 4px;
}

#qoutes_body {
  font-style: italic;
  font-weight: lighter;
}




